.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
*.iml
*.log
android/.gradle
android/app/**/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/Generated.xcconfig
